ENV="testnet"

NCC_BASE_SERVER="https://testnet-algorand.api.purestake.io/ps2"
NCC_INDEX_SERVER="https://testnet-algorand.api.purestake.io/idx2"
NCC_API_TOKEN="123456789"
NCC_API_TOKEN_HEADER="X-API-Key"
NCC_PORT=""
NCC_LEDGER="TestNet"
ALGONAUT_TEST_MNEMONIC="Put your mnemonic here"
