ENV="testnet"

BASE_SERVER="https://testnet-algorand.api.purestake.io/ps2"
INDEX_SERVER="https://testnet-algorand.api.purestake.io/idx2"
API_TOKEN="123456789"
API_TOKEN_HEADER="X-API-Key"
PORT=""
LEDGER="TestNet"
