body, form, input, textarea {
    font-family: semplicitapro, 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
    color: white;
    font-weight: bold;
}

p {
    color: lightgray;
}

pre.log, .hljs {
    background-color: #001c24;
    padding: 5px 10px;
}